@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-2">
        <span>Активные пользователи</span>
        <ul id="LgiUsers" class="list-group"></ul>
    </div>
    
    <div class="col-10">
        <span>Чат</span>
        <textarea class="form-control"></textarea>
    </div>
</div>


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
