@model Chat.ViewModel.LoginViewModel

@{
    Layout = "_Layout";
}

<div class="d-flex vh-100">
    <div class="d-flex w-100 justify-content-center align-self-center">
        <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" class="col-lg-3 ">
            <h2>Вход на сайт</h2>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="justify-content-center">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input class="form-control" type="text" asp-for="UserName"/>
                    <span class="form-text text-muted" asp-validation-for="UserName"/>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password"/>
                    <span class="form-text text-muted" asp-validation-for="Password"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="Войти" class="btn btn-outline-dark"/>
                    <a asp-action="Register" asp-controller="Account">Регистрация</a>
                </div>
            </div>
        </form>
    </div>
</div>

